/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.mypanel {
    overflow: auto;
    width: 500px;
}
.autoflow {
    overflow: auto;
}

.pCarouselImg Img {
    width: auto;
    height: 400px;
    max-height: 400px;
}

.whiteOnLightBlue {
    color: white;
    background-color: rgb(180,220,255);
}


.navbar-novido {
    background-color: #0000ff;
    border-color: #0080ff;
}
.navbar-novido .navbar-brand {
    color: #c0c0c0;
}
.navbar-novido .navbar-brand:hover, .navbar-novido .navbar-brand:focus {
    color: #000000;
}
.navbar-novido .navbar-text {
    color: #c0c0c0;
}
.navbar-novido .navbar-nav > li > a {
    color: #c0c0c0;
}
.navbar-novido .navbar-nav > li > a:hover, .navbar-novido .navbar-nav > li > a:focus {
    color: #000000;
}
.navbar-novido .navbar-nav > .active > a, .navbar-novido .navbar-nav > .active > a:hover, .navbar-novido .navbar-nav > .active > a:focus {
    color: #000000;
    background-color: #0080ff;
}
.navbar-novido .navbar-nav > .open > a, .navbar-novido .navbar-nav > .open > a:hover, .navbar-novido .navbar-nav > .open > a:focus {
    color: #000000;
    background-color: #0080ff;
}
.navbar-novido .navbar-toggle {
    border-color: #0080ff;
}
.navbar-novido .navbar-toggle:hover, .navbar-novido .navbar-toggle:focus {
    background-color: #0080ff;
}
.navbar-novido .navbar-toggle .icon-bar {
    background-color: #c0c0c0;
}
.navbar-novido .navbar-collapse,
.navbar-novido .navbar-form {
    border-color: #c0c0c0;
}
.navbar-novido .navbar-link {
    color: #c0c0c0;
}
.navbar-novido .navbar-link:hover {
    color: #000000;
}

@media (max-width: 767px) {
    .navbar-novido .navbar-nav .open .dropdown-menu > li > a {
        color: #c0c0c0;
    }
    .navbar-novido .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-novido .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #000000;
    }
.navbar-novido .navbar-nav .open .dropdown-menu > .active > a, .navbar-novido .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-novido .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #000000;
        background-color: #0080ff;
    }
}