<body ng-controller="BMICtrl">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        BMI English Calculation
      </h4>
    </div>

    <div class="panel-body">

      <form class="form-inline" role="form">
        <div class="form-group">

          <span class="help-block">Height in m</span>
          <input type="number" class="form-control" id="heightM" ng-model="heightM" min=0.00 step="0.01" ng-change="calcBMI2()"></input>
        </div>

      </form>
      <br>
      <form class="form-inline" role="form">
        <div class="form-group">
          <span class="help-block">Enter Weight in kgs</span>
          <input type="number" class="form-control" id="weightKg" ng-model="weightKg" min=0.00 step="0.01" ng-change="calcBMI2()"></input>
        </div>
      </form>

      <br>
      <div class="alert alert-info col-md-4">
        <strong>BMI: {{bmi}}</strong>
      </div>

    </div>
  </div>
</body>
