  <div class="container-fluid">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">
          Club Membership Registration
        </h3>
      </div>

      <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <tbody>
          <tr>
            <th>Date of Registration</th>
            <th>Club Name</th>
            <th>Member Name</th>
            <th>Member Email</th>
            <th>Member Phone</th>
            <th></th><th></th>

          </tr>

          <tr data-ng-repeat="membership in memberships">
            <td>{{membership.dateOfRegistration | date:"dd-MMMM-yyyy"}}</td>
            <td>{{getClubNameByID(membership.clubID-1).clubName}}</td>
            <td>{{membership.memberName}}</td>
            <td>{{membership.memberEmail}}</td>
            <td>{{membership.memberPhone}}</td>
            <td><a ng-href="#/manageMember/{{$index}}" class="btn btn-info btn-xs"><i class="glyphicon glyphicon-edit"></i></a></td>
            <td><button type="submit" class="btn btn-danger pull-center btn-xs" ng-click="openDeleteConfirm('sm',$index)"><span class="glyphicon glyphicon-trash"></span></td>
          </tr>

          <tr data-ng-show="memberships.length <= 0">
            <td colspan="7" style="text-align: center;">No members yet.</td>
          </tr>

          </tbody>
        </table>
      </div>


      <div class="panel-footer">
        <a ng-href="#/manageMember/-1" class="btn btn-warning btn-xs pull-left"><i class="glyphicon glyphicon-plus"></i>New Member</a>
        <label></label>
      </div>
  </div>




<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Confirm Delete</h3>
  </div>
  <div class="modal-body">
    <tr>Are you sure you want to delete this job application record?</tr>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Yes</button>
    <button class="btn btn-warning" ng-click="cancel()">No</button>
  </div>
</script>


