  <div class="container-fluid">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">
          List of Job Applications
        </h3>
      </div>

      <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <tbody>
          <tr>
            <th>Date Applied</th>
            <th>Company Name</th>
            <th>Contact Name</th>
            <th>Contact Email</th>
            <th>Contact Phone</th>
            <th></th><th></th>

          </tr>

          <tr data-ng-repeat="jobhunt in jobhunts">
            <td>{{jobhunt.dateApplied | date:"dd-MMMM-yyyy"}}</td>
            <td>{{jobhunt.companyName}}</td>
            <td>{{jobhunt.contactName}}</td>
            <td>{{jobhunt.contactEmail}}</td>
            <td>{{jobhunt.contactPhone}}</td>

            <!--td><input type="button" class="btn btn-info pull-center btn-xs" value="Update" ng-click="app.updateJobhunt(jobhunt._id)" /></td-->
            <td><a ng-href="#/manageJob/{{$index}}" class="btn btn-info btn-xs">Update</a></td>
            <td><input type="button" class="btn btn-danger pull-center btn-xs" value="Delete" ng-click="openDeleteConfirm('sm',$index)"/></td>

          </tr>


          <tr data-ng-show="jobhunts.length <= 0">
            <td colspan="7" style="text-align: center;">No job application yet.</td>
          </tr>

          </tbody>
        </table>
      </div>

      <div class="panel-footer">
        <a ng-href="#/manageJob/-1" class="btn btn-warning btn-xs">Add Job</a>
        <label class="pull-right">Copyright(c) Wilson Novido</label>
      </div>
    </div>

  </div>




<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Confirm Delete {{xxx_id}}</h3>
  </div>
  <div class="modal-body">
    <tr>Are you sure you want to delete this job application record?</tr>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Yes</button>
    <button class="btn btn-warning" ng-click="cancel()">No</button>
  </div>
</script>


