<div class="container-fluid col-md-4">

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{paramFlag}} Job Hunting Information
            </h3>
        </div>

        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-md-5">
                        <label for="dateApplied" class="control-label">Date Applied</label>
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="jobHuntInfo.dateApplied" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" id="dateApplied"/>
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="company" class="control-label">Company</label>
                        <p class="input-group">
                            <select id="company" class="form-control" ng-options="company.companyName for company in companies | orderBy:'companyName'" ng-model="selectedCompany"></select>
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openCompany()"><i class="glyphicon glyphicon-pencil"></i></button>
                            </span>
                        </p>
                    </div>
                </div>


                <div class="col-md-8">
                    <div class="form-group">
                        <label for="contact" class="control-label">Contact</label>
                        <p class="input-group">
                            <select id="contact" class="form-control" ng-options="contact.contactName for contact in contacts | orderBy:'contactName'" ng-model="selectedContact"></select>
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openContact()"><i class="glyphicon glyphicon-pencil"></i></button>
                            </span>

                    </div>
                </div>

            </form>
        </div>

        <div class="panel-footer">
            <button class="btn btn-success btn-sm" ng-click="manageJobhunt()">Save</button>
            <button class="btn btn-default btn-sm" ng-click="back()">Cancel</button>
        </div>
    </div>
</div>





<script type="text/ng-template" id="manageCompany.html">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">
                <h3>Manage Companies</h3>
            </div>
        </div>

        <div class="panel-body">

            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <tbody>
                    <tr>
                        <th>Company Name</th>
                    </tr>

                    <tr data-ng-repeat="company in _companies">
                        <td>{{company.companyName}}</td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <form class="form-inline" role="form">
                <div class="form-group">
                    <div class="input-group">
                        <label class="sr-only" for="companyInfo.companyName">Enter Company Name</label>
                        <input type="text" class="form-control" id="companyInfo.companyName" placeholder="Enter Company Name" ng-model="companyInfo.companyName"/>
                    </div>
                </div>
            </form>

        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Add</button>
            <button class="btn btn-warning" ng-click="cancel()">Exit</button>
        </div>

    </div>
</script>





<script type="text/ng-template" id="manageContact.html">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">
                <h3>Manage Contacts</h3>
            </div>
        </div>

        <div class="panel-body">

            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <tbody>
                    <tr>
                        <th>Contact Name</th>
                        <th>Contact Email</th>
                        <th>Contact Phone</th>
                    </tr>

                    <tr data-ng-repeat="contact in _contacts">
                        <td>{{contact.contactName}}</td>
                        <td>{{contact.contactEmail}}</td>
                        <td>{{contact.contactPhone}}</td>
                    </tr>

                    </tbody>
                </table>
            </div>


            <form class="form-inline" role="form">
                <div class="form-group">
                    <div class="input-group">
                        <label class="sr-only" for="contactInfo.contactName">Enter Contact Name</label>
                        <input type="text" class="form-control" id="contactInfo.contactName" placeholder="Enter Contact Name" ng-model="contactInfo.contactName"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <label class="sr-only" for="contactInfo.contactEmail">Enter Contact Email</label>
                        <input type="text" class="form-control" id="contactInfo.contactEmail" placeholder="Enter Contact Email" ng-model="contactInfo.contactEmail"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <label class="sr-only" for="contactInfo.contactPhone">Enter Contact Phone</label>
                        <input type="text" class="form-control" id="contactInfo.contactPhone" placeholder="Enter Contact Phone" ng-model="contactInfo.contactPhone"/>
                    </div>
                </div>
            </form>

        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Add</button>
            <button class="btn btn-warning" ng-click="cancel()">Exit</button>
        </div>
    </div>
</script>
